
*{
  margin:0;
  padding:1000;
  box-sizing: border-box;
  
}



body{
  font-family: 'Roboto', sans-serif;
}
.nav-bg{
  background: #3d5a80 ;
}

.navbar-nav .nav-link{
  color:#fff!important;
  size: 20px;
}
.navbar-toggler{
  outline:none!important;
}



#hero{
  width:100%;
  height: 100vh;
  overflow:hidden;
  position: relative;
}
#hero:after{
  content:'';
  position:absolute;
  left:50%;
  top:0;
  width:130%;
  height:95%;
  background:linear-gradient(to right,#3d5a80,#98c1d9);
  z-index:0;
  border-radius: 0 0 50% 50%;
  transform:translateX(-50%) rotate(0deg);
}
#hero:before{
  content:'';
  position: absolute;
  left:50%;
  top:0;
  width:130%;
  height:96%;
  background:#3d5a80 ;
  opacity:0.3;
  z-index:0;
  border-radius:0 0 50% 50%;
  transform: translateX(-50%)translateY(18px)rotate(2deg);
  
}
#hero .carousel-container{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  bottom:0;
  top:0;
  left:0;
  right:0;
}
#hero h2{
  color:#fff;
  margin-bottom:30px;
  font-size:48px;
  font-weight:bold;
}
#hero p{
  width:80%;
  animation-delay:0.4s;
  margin:0 auto 30px auto;
  color:#fff;
}
#hero .carousel-control-prev, 
#hero .carousel-control-next{
  width:10%;
}
#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon{
  background:none;
  font-size:48px;
  line-height:1;
  width:auto;
  height: auto;
}
#hero .hero-btn{
  font-weight:bold;
  font-size:16px;
  letter-spacing:1px;
  display:inline-block;
  padding:12px 32px;
  border-radius:50px;
  transition:0.5s;
  line-height:1;
  margin:10px;
  color:#fff;
  animation-delay:0.5s;
  border:2px solid #3d5a80;
}
#hero .hero-btn:hover{
  background:#3d5a80;
  color:#fff;
  text-decoration:none;
}
@media(min-width:1024px){
  #hero p{
      width:60%;
  }
  #hero .carousel-control-prev,
  #hero .carousel-control-next{
      width:5%;
  }
}
@media(max-width:768px){
  #hero h2{
      font-size:28px;
  }
  #hero:after{
      width:180%;
      height:95%;
      border-radius:0 0 50% 50%;
      transform:translateX(-50%)rotate(0deg);
  }
  #hero:before{
      top:0;
      width:180%;
      height:94%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%)translateY(20px)rotate(4deg);
  }
}



.tab .nav-pills .nav-item{
  margin-bottom: 10px;

}

.tab .nav-pills .nav-item .nav-link{
  background: floralwhite;
  border-radius: 4px;
  color: #000;
  font-weight: bold;
  border: 1px solid #3d5a80;
  line-height: 30px;
}

.tab .nav-pills .nav-item .nav-link span{
  color: #3d5a80;
  font-size: 30px;

}


.tab .nav-pills .nav-item .nav-link .active{
  color: #fff;
  background: #3d5a80;
  border: 1px solid;
}

.tab .tab-content .img{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}




/*======About Us=========*/
.tabs .nav-pills .nav-item{
  margin-bottom: 10px;
}
.tabs .nav-pills .nav-item .nav-link{
  background:#fff;
  border-radius:4px;
  color:#000;
  font-weight:bold;
  border:1px solid #3d5a80;
  font-size:20px;
  line-height: 30px;
  
}
.tabs .nav-pills .nav-item .nav-link span{
  color:#98c1d9;
  font-size:30px;
}
.tabs .nav-pills .nav-item .nav-link.active{
  color:#fff;
  background:#3d5a80 ;
  border:1px solid #98c1d9;
}
.tabs .nav-pills .nav-item .nav-link.active span{
  color:#fff;
}
.tabs .tab-content{
  background:#fff;
  padding:0;
}
.tabs .tab-content .img{
  width:100%;
  height:400px;
  margin-bottom:20px;
}
.tabs .tab-content h3{
  font-weight:bold;

}
.tabs .tab-content h3 a{
  color:#000;
}


/*======End of About Us=========*/


/*====== Patners=========*/
.patner-box{
  padding: 15px;
  background: #ffffff;
  margin-bottom: 30px;
  position: relative;
}
/*======End of patners =========*/

/*====== Projects=========*/


.project-container{
  background:  #3d5a80;
  position: relative;
  overflow: hidden;
  
}

.donation{
  background: #ee6c4d;
  color: rgb(255, 255, 255);
  padding: 3px 3.5px;
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateX(110%);
  transition: all 1s ease-in-out;

}

.donation:hover{
  color: #ffffff;
}


.project-container:hover .donation{
  transform: translateX(0%);
}

.outline{
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px #e0fbfc;
  position: relative;

}

.outline:before{
  content: '';
  position: absolute;
  border: #ffffff solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: opacity;
  
}

.outline:hover:before,
.outline:focus:before,
.outline:active:before{
  opacity: 1;
}


/*====== End of Projects=======*/


/*========== Donation Section======*/
.donation-form .input-field .input-group{
  width: 50%;
  border:1px solid #3d5a80;
  border-radius: 7px;
  padding: 5px 10px;
  box-shadow: 0 3px 6px #98c1d9;
}
.donation-form .input-field .input-group .input-group-text{
  font-size: 16px;
  background: transparent;
  border:0;
  font-weight: bold;
}
.donation-form .input-field .input-group .form-control{
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-bottom: 0;
  border-top:0;
  border-radius: 0;
  border-right: 0;
  padding: 0 0 0 25px;
  height: 50px;
  font-size: 16px;
  color:#000;
}
.donation-form .input-field .input-group .form-control:placeholder{
  font-size: 16px;
  color: #e0fbfc;
  font-weight: 400;
}
.donation-form .input-field .input-group .form-control:focus{
  outline: none;
  box-shadow:none;
}
.donation-form .amount .need{
  box-shadow: 0  3px 6px #3d5a80 ;
  padding: 18px 27px;
  border-radius: 7px;
  border: 1px solid #98c1d9;
  display: block;
  overflow: hidden;
}
@media (max-width: 767px){
  .donation-form .amount .need{
      display: block !important;
      margin-top: 15px;
  }
}
.donation-form .amount .need .select h5{
  font-size: 16px;
  color:  #98c1d9;
  margin-bottom: 0;
}
.donation-form .amount .need .fund label{
  font-size: 16px;
  font-weight: 400;
  color:#98c1d9;
  margin-bottom: 0;
}

@media(max-width: 767px){
  .donation-form .amount .need .fund{
      width: 33.33%;
      float:left;
      margin-top: 15px;
  }
}
.donation-btn{
  margin-top: 50px;
}
.btn-don{
  background: #3d5a80;
  color: #fff;
  border-radius: 50px;
}
.btn-don:hover{
  color: #98c1d9;
}
/*==========End of the Donation Section======*/



/*==========Footer  Section======*/
.footer{
  background:linear-gradient(#3d5a80,#98c1d9);
  padding: 0 0 30px 0;
  color: #000;
  font-size: 15px;
}
.footer .footer-top{
  padding: 60px 0 30px 0;
}
.footer .footer-top .footer-des{
  margin-top: -90px;
  margin-bottom: 15px;
  background:#3d5a80;
  color:#fff;
  border-top: 4px solid #98c1d9 ;
  text-align: center;
  padding:30px 20px;
}
.footer .footer-top .footer-des h3{
  font-size:24px;
  margin: 0 0 2px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: bold;
}
.footer .footer-top .footer-des p{
  font-size:14px;
  line-height: 24px;
  margin-bottom: 0;
}
.footer .footer-top .social-links a{
  font-size: 18px;
  display: inline-block;
  background:  #98c1d9;
  color:#3d5a80;
  line-height:1;
  padding:8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align:center;
  width: 36px;
  height:36px;
  transition: 0.3s;
}
.footer .footer-top .social-links a:hover{
  background: #3d5a80;
  color: #fff;
  text-decoration: none;
}
.footer .footer-top h4{
  font-size:16px;
  font-weight:bold;
  color: #000;
  position:relative;
  padding-bottom: 12px;
}
.footer .footer-top .footer-list{
  margin-bottom: 30px;
}
.footer .footer-top .footer-list ul{
  list-style: none;
  padding: 0;
  margin:0;
}
.footer .footer-top .footer-list ul i{
  padding-right: 2px;
  color:#000;
  font-size: 18px;
  line-height: 1;
}
.footer .footer-top .footer-list ul li{
  padding: 10px 0;
  display: flex;
  align-items:center;
}
.footer .footer-top .footer-list ul li:first-child{
  padding-top:0;
}
.footer .footer-top .footer-list ul a{
  color:#000;
  transition:0.3s;
  display: inline-block;
  line-height: 1;
}
.footer .footer-top .footer-link ul a:hover{
  color: #3d5a80;
}
.footer .footer-top .footer-contactus form{
  margin-top:30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}
.footer .footer-top .footer-contactus form input[type="text"]{
  border:0;
  padding: 4px;
  width: calc(100% - 110px);
}
.footer .footer-top .footer-contactus form input[type="submit"]{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  border:0;
  background: none;
  font-size:16px;
  padding: 0 20px;
  background: #3d5a80;
  color:#fff;
  transition: 0.3s;
  border-radius:4;
}
.footer .footer-top .footer-contactus form input[type="submit"]:hover{
  background: #98c1d9;
  color:#3d5a80;
}




/*========== End Footer Section======*/




